*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: aban;
    font-style: normal;
    font-weight: 500;
    src: url(../font/Aban.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: bkoodak;
    font-style: normal;
    font-weight: 500;
    src: url(../font/BKoodakBold_0.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: btitr;
    font-style: normal;
    font-weight: 500;
    src: url(../font/BTitrBold_0.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: kaghaz;
    font-style: normal;
    font-weight: 500;
    src: url(../font/KaghazAlefBold.woff2) format("woff2");
    font-display: swap
}


:root {
    --primary-color: #02364e;
    --secondary-color: #ffe9b5;
    --light: #ffffff;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-64: 64px;
    --fs-72: 72px;
    --bd-radius-16: 16px;
    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-12: 12px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    --space-64: 64px;
    --space-92: 92px;
    --ml-12: 12px;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg.svg");
    direction: rtl;
    max-width: 1440px;
    padding-inline: 32px;
    margin-inline: auto;
}

/* popup */


.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
}

@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }
}

/* popup */

.color-light {
    color: var(--light);
}

.f-kaghaz {
    font-family: kaghaz;
}

.f-btitr {
    font-family: btitr;
}

.f-bkoodak {
    font-family: bkoodak;
}

.fw600 {
    font-weight: var(--fw-600);
}

.fw700 {
    font-weight: var(--fw-700);
}

.fw900 {
    font-weight: var(--fw-900);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-72 {
    font-size: var(--fs-72);
}

.bdr-40 {
    border-radius: var(--bd-radius-40);
}

.text-center {
    text-align: center;
}

.color-p {
    color: var(--primary-color);
}

.bg-color-p {
    background-color: var(--primary-color);
}

.mb-4 {
    margin-bottom: var(--space-4);
}

.mb-8 {
    margin-bottom: var(--space-8);
}

.mb-16 {
    margin-bottom: var(--space-16);
}

.mb-12 {
    margin-bottom: var(--space-12);
}

.mb-24 {
    margin-bottom: var(--space-24);
}

.mb-32 {
    margin-bottom: var(--space-32);
}

.mb-40 {
    margin-bottom: var(--space-40);
}

.mb-64 {
    margin-bottom: var(--space-64);
}

.mb-92 {
    margin-bottom: var(--space-92);
}

.ml-12 {
    margin-left: var(--ml-12);
}

.mt-40 {
    margin-top: var(--space-40);
}

.mt-92 {
    margin-top: var(--space-92);
}


/* =========================================================
    Scroll Style
==========================================================*/

input,
textarea,
select {
    border-radius: var(--bd-radius-16);
    border: 1px solid #303030;
    font-size: var(--fs-24);
    padding: 8px 12px;
    text-align: right;
    background-color: var(--secondary-color);
    font-weight: var(--fw-700);
    height: 55px;
}

textarea {
    max-height: 160px;
    max-width: 465px;
    min-height: 160px;
    min-width: 290px;
}

label {
    font-size: 24px;
}


.flag {
    position: relative;
    display: inline-block;

}

.flag:before {
    content: url(../img/irflag.png);
    position: absolute;
    display: inline-block;
    width: 24px;
    left: 20px;
    height: 23px;
    z-index: 2;
    bottom: 36px;
}

.d-f {
    display: inline-flex;
    flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pw label {
    display: inline-block;
    min-width: 268px;
}

.pw input,
textarea {
    width: 48%;
}

select {
    min-width: 311px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("../img/Frame.svg");
    background-repeat: no-repeat;
    background-position: center left;
}

.address label {
    margin-left: 15px;
}

.address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.reg .pw label {
    display: inline-block;
    width: 15%;
    min-width: 206px;
}

.reg input,
.reg textarea {
    width: 311px;
}

.reg form {
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}

.reg button {
    background: no-repeat;
    border: none;
    cursor: pointer;
}

.info {

    max-width: 969px;
    margin-right: auto;
    margin-left: auto;

}

.info div {
    text-align: center;
}

.info label {
    text-align: right;
}

/* table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: var(--primary-color);
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #ffe9b5;
}

/*responsive*/

@media (max-width: 500px) {
    .table tbody td:nth-child(even) {
        background-color: #ffe9b5;
    }

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        padding-right: 40%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        right: 0;
        /* width: 50%; */
        padding-right: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* tabel */

@media screen and (max-width: 1024px) {

    .top span {
        display: inline-block;
    }

    .top span label {
        width: 268px;
        display: inline-block;
        margin-left: 12px;
    }

    .pw input,
    textarea,
    .select,
    .top input {
        width: 290px;
    }

    .top {
        margin-bottom: 0;
    }


    .select {
        min-width: inherit;
    }

    .top span {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 992px) {
    .fs-64 {
        font-size: var(--fs-40);
    }
}

@media screen and (max-width: 768px) {
    .info div {
        text-align: center;
    }

    .info label {
        text-align: right;
    }

    /* footer .fs-40 {
        font-size: var(--fs-24);
    } */
    .d-f.ml-12 {
        margin-left: 0;
    }

    .top input,
    .select {
        width: 290px !important;
        min-width: inherit;
    }

    .pw input,
    textarea {
        width: 290px;
    }

    .d-f {
        margin-bottom: var(--space-12);
    }

    .ml-12.f-btitr {
        margin-bottom: var(--space-4);
    }


}

@media screen and (max-width: 637px) {

    /* .address {
        flex-direction: column;
        align-items: start;
    } */
    .address {
        display: inline-block;
    }
}

@media screen and (max-width: 563px) {
    form {
        text-align: center;
    }

    form label {
        text-align: right;
    }

    label {
        width: 290px !important;
        min-width: inherit !important;
        margin-bottom: var(--space-12) !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 540px) {
    .fs-64 {
        font-size: var(--fs-32);
    }

    body {
        padding-inline: 12px;
    }
}

@media screen and (max-width: 540px) {
    .fs-64 {
        font-size: var(--fs-32);
    }

    h2 {
        font-size: var(--fs-40) !important;
    }

}

@media screen and (max-width: 540px) {
    .fs-64 {
        font-size: var(--fs-24);
    }

}

@media screen and (max-width: 360px) {
    .ml-12 {
        margin-left: 0;
    }

    .top span {
        width: 100%;
    }

    .reg .pw input,
    textarea {
        width: 290px !important;
    }

    .reg .select {
        width: 290px !important;
    }

}

@media screen and (min-width: 1440px) {


    .info .pw input,
    .info textarea {
        width: 48%;
    }
}

header {
    background-image: url("../img/VectorSmartObject.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background-image: url("../img/VectorSmartObject1.png");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 120px;
}

h1 {
    font-weight: var(--fw-900);
}